<div class="mx-auto">

  <div class="grid grid-cols-12 mt-10">
    <div class="col-start-2 col-span-10 grid grid-cols-2">
        <div>
          <img class="h-36 md:h-44 float-right" src="assets/img/logo.png" />
        </div>
        <p class="py-16 h-full text-4xl md:text-6xl">Sign Up</p>
    </div>
  </div>
  
  <div class="max-w-sm mx-auto">
    <div *ngIf="!submitted">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" autocomplete="off" [(ngModel)]="user.name" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" autocomplete="off" [(ngModel)]="user.email" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
    </div>

    <div *ngIf="submitted">
      <h4>Registration request has been successfully send!</h4>
      <button mat-raised-button color="secondary" (click)="newUser()">New Registration</button>
    </div>
  </div>

</div>