<div class="container mx-auto">

  <p class="text-center text-6xl py-16">User Registration</p>

  <div class="px-96">
    <div *ngIf="!submitted">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" autocomplete="off" [(ngModel)]="user.name" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" autocomplete="off" [(ngModel)]="user.email" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
    </div>

    <div *ngIf="submitted">
      <h4>Registration request has been successfully send!</h4>
      <button mat-raised-button color="secondary" (click)="newUser()">New Registration</button>
    </div>
  </div>

</div>