<p>Register-User works!</p>

<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="user.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            [(ngModel)]="user.email"
            name="email"
          />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="password"
            />
          </div>
  
        <button (click)="registerUser()" class="btn btn-success">Register</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Registration request has been successfully send!</h4>
        <button class="btn btn-success" (click)="newUser()">New Registration</button>
      </div>
    </div>
  </div>
  