<div class="max-w-sm mx-auto p-10 border-2 rounded-xl border-indigo-400 shadow-xl shadow-black bg-white">
  
    <div class="text-center">
        <p class="py-10 text-4xl">Login</p>
    </div>
  
  <div>
    <div *ngIf="!submitted">
      <mat-form-field appearance="outline">
        <mat-label>User</mat-label>
        <input matInput type="text" autocomplete="off" [(ngModel)]="authentication.userName" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="authentication.password" required />
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" (click)="loginUser()">Login</button>
      </div>

      <div class="text-center mt-4">
        You don't have an account?
        <a href="user/register" class="underline">Sign up here</a>.
      </div>
    </div>

    <div *ngIf="submitted">
      <h4>Login successfull!</h4>
    </div>
  </div>

</div>