<p class="text-center text-4xl">My Services</p>

<div *ngIf="arrayChecked.length > 0" class="h-14 float-left pr-3">
  <button id="bulk-delete-button" mat-flat-button class="!bg-transparent shadow-sm shadow-black !h-10" (click)="removeSelectedService()">
    <img src="assets/img/trash.png" class="h-7"/>
  </button>
</div>

<div class="h-14 float-right">
  <button mat-flat-button class="!bg-transparent shadow-sm shadow-black !h-10" (click)="showCreateServiceDialog()">
    <img src="assets/img/plus.png" class="h-7"/>
  </button>
</div>

<div class="h-14 float-right pr-3">
  <button id="filter-button" mat-flat-button class="!bg-transparent shadow-sm shadow-black !h-10" (click)="showFilterDialog()">
    <img src="assets/img/filter.png" class="h-7"/>
  </button>
</div>

<table mat-table [dataSource]="serviceList" class="mat-elevation-z8">

  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox id="select-all" (click)="selectAll($event)"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox name="check-delete" value="{{element.id}}" id="check-{{element.id}}" (click)=$event.stopPropagation() (click)="onCheckboxChange($event)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element" (click)=$event.stopPropagation()>
      <button mat-icon-button color="primary" name="{{element.name}}" id="{{element.id}}" (click)="deleteUserService($event)">
        <img src="assets/img/trash.png" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [style.border-top]="'3px solid black'" *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></tr>
</table>

<mat-paginator (page)="handlePageEvent($event)" [length]="pageEvent.length" [pageSize]="pageEvent.pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>